/*****************************************************
ABOUT

Style for 'About FCOO' modal-content
*****************************************************/

//Box with owner-logo and contact info etc.
.about-owner {
    text-align: center;
    font-size : 0.8 * $font-size-base;
    font-family: var(--fmn-font-family);


    .application-header {
        margin : 0;
        padding: $jb-padding-x-sm;

        text-align : center;
        font-size  : 1.5*$font-size-sm;
        line-height: 1;
        @include text-shadow();
        @include text-truncate();

        min-height: calc(1em  + 2 * #{$jb-padding-x-sm});
    }

    .application-logo-container {
        width : 100%;
        margin: 20px auto;
    }

    .application-owner {
        //Hard copy from fmi.dk
        color           : rgb(33, 37, 41);
        font-family     : var(--fmn-font-family);
        font-size       : 15.0589px;
        font-weight     : 600;
        letter-spacing  : -0.4px;
        line-height     : 1.5;
    }
}

