/*****************************************************
ABOUT

Style for 'About FCOO' modal-content
*****************************************************/

//Box with FCOO-logo and contact info etc.
.about-fcoo {
    text-align: center;
    font-size : 0.8 * $font-size-base;
    font-family: "Verdana"; //Forsvarsministeriets koncernfælles Designmanual 2018


    .application-header {
        margin : 0;
        padding: $jb-padding-x-sm;

        text-align : center;
        font-size  : 1.5*$font-size-sm;
        line-height: 1.5*$font-size-sm;
        @include text-shadow();
        @include text-truncate();
    }

    img {
        margin: 1rem auto;
    }
}

