/*****************************************************
APPLICATION-COLOR-MIXIN
Mixin for creating specific application-color
instead of DALO standard dark-green

Note:
The application also needs to include mixins from jquery-bootstrap by

@import "../bower_components/jquery-bootstrap/src/include-jquery-bootstrap-variables";


Eq. To have application-color = red:

@import "../bower_components/jquery-bootstrap/src/include-jquery-bootstrap-variables";
@import "../bower_components/jquery-bootstrap/src/application-color-mixin";
@include application-color( red );

*****************************************************/
@mixin application-color($color){
    @include application-base-color($color);
    @include _application-color($color, "", "div");
}

@function _best_contrast( $color ){
    @return ch-best-color-contrast($base: $color, $colors: (#fff, #000), $tolerance: 0);
}

@function get-root-var-id( $type:'bg', $prefix: '', $percent:'0' ){
    @return --_fcoo-#{$prefix}app-#{$type}-color-#{$percent}
}

@function get-hover-bg( $bg: red, $color: null ){
    @return $bg;
}

@mixin _application-color($application-color, $prefix: "", $type: ""){
    $btn-bg-darken-amount: 7% !global;

    $bg-color-0          : $application-color !global;
    $hover-bg-color-0    : tint-color($bg-color-0, $btn-hover-bg-tint-amount) !global;
    $active-bg-color-0   : tint-color($bg-color-0, $btn-active-bg-tint-amount) !global;
    $darken-bg-color-0   : darken($bg-color-0, $btn-bg-darken-amount) !global;
    $text-color-0        : _best_contrast($bg-color-0) !global;
    $hover-text-color-0  : tint-color($text-color-0, $btn-hover-border-tint-amount) !global;
    $active-text-color-0 : tint-color($text-color-0, $btn-active-border-tint-amount) !global;
    $shadow-color-0      : _best_contrast($text-color-0) !global;

    $bg-color-25         : lighten($bg-color-0, 25%) !global;
    $hover-bg-color-25   : tint-color($bg-color-25, $btn-hover-bg-tint-amount) !global;
    $active-bg-color-25  : tint-color($bg-color-25, $btn-active-bg-tint-amount) !global;
    $darken-bg-color-25   : darken($bg-color-25, $btn-bg-darken-amount) !global;
    $text-color-25       : _best_contrast($bg-color-25) !global;
    $hover-text-color-25 : tint-color($text-color-25, $btn-hover-border-tint-amount) !global;
    $active-text-color-25: tint-color($text-color-25, $btn-active-border-tint-amount) !global;

    $bg-color-50         : lighten($bg-color-0, 50%) !global;
    $hover-bg-color-50   : tint-color($bg-color-50, $btn-hover-bg-tint-amount) !global;
    $active-bg-color-50  : tint-color($bg-color-50, $btn-active-bg-tint-amount) !global;
    $darken-bg-color-50   : darken($bg-color-50, $btn-bg-darken-amount) !global;
    $text-color-50       : _best_contrast($bg-color-50) !global;
    $hover-text-color-50 : tint-color($text-color-50, $btn-hover-border-tint-amount) !global;
    $active-text-color-50: tint-color($text-color-50, $btn-active-border-tint-amount) !global;

    $bg-color-63         : lighten($bg-color-0, 63%) !global;
    $hover-bg-color-63   : tint-color($bg-color-63, $btn-hover-bg-tint-amount) !global;
    $active-bg-color-63  : tint-color($bg-color-63, $btn-active-bg-tint-amount) !global;
    $darken-bg-color-63   : darken($bg-color-63, $btn-bg-darken-amount) !global;
    $text-color-63       : _best_contrast($bg-color-63) !global;
    $hover-text-color-63 : tint-color($text-color-63, $btn-hover-border-tint-amount) !global;
    $active-text-color-63: tint-color($text-color-63, $btn-active-border-tint-amount) !global;

    :root {
        #{get-root-var-id('bg',          $prefix,  0)}:    #{$bg-color-0};
        #{get-root-var-id('hover-bg',    $prefix,  0)}:    #{$hover-bg-color-0};
        #{get-root-var-id('active-bg',   $prefix,  0)}:    #{$active-bg-color-0};
        #{get-root-var-id('darken-bg',   $prefix,  0)}:    #{$darken-bg-color-0};
        #{get-root-var-id('text',        $prefix,  0)}:    #{$text-color-0};
        #{get-root-var-id('hover-text',  $prefix,  0)}:    #{$hover-text-color-0};
        #{get-root-var-id('active-text', $prefix,  0)}:    #{$active-text-color-0};
        #{get-root-var-id('shadow',      $prefix,  0)}:    #{$shadow-color-0};

        #{get-root-var-id('bg',          $prefix, 25)}:    #{$bg-color-25};
        #{get-root-var-id('hover-bg',    $prefix, 25)}:    #{$hover-bg-color-25};
        #{get-root-var-id('active-bg',   $prefix, 25)}:    #{$active-bg-color-25};
        #{get-root-var-id('darken-bg',   $prefix, 25)}:    #{$darken-bg-color-25};
        #{get-root-var-id('text',        $prefix, 25)}:    #{$text-color-25};
        #{get-root-var-id('hover-text',  $prefix, 25)}:    #{$hover-text-color-25};
        #{get-root-var-id('active-text', $prefix, 25)}:    #{$active-text-color-25};

        #{get-root-var-id('bg',          $prefix, 50)}:    #{$bg-color-50};
        #{get-root-var-id('hover-bg',    $prefix, 50)}:    #{$hover-bg-color-50};
        #{get-root-var-id('active-bg',   $prefix, 50)}:    #{$active-bg-color-50};
        #{get-root-var-id('darken-bg',   $prefix, 50)}:    #{$darken-bg-color-50};
        #{get-root-var-id('text',        $prefix, 50)}:    #{$text-color-50};
        #{get-root-var-id('hover-text',  $prefix, 50)}:    #{$hover-text-color-50};
        #{get-root-var-id('active-text', $prefix, 50)}:    #{$active-text-color-50};

        #{get-root-var-id('bg',          $prefix, 63)}:    #{$bg-color-63};
        #{get-root-var-id('hover-bg',    $prefix, 63)}:    #{$hover-bg-color-63};
        #{get-root-var-id('active-bg',   $prefix, 63)}:    #{$active-bg-color-63};
        #{get-root-var-id('darken-bg',   $prefix, 63)}:    #{$darken-bg-color-63};
        #{get-root-var-id('text',        $prefix, 63)}:    #{$text-color-63};
        #{get-root-var-id('hover-text',  $prefix, 63)}:    #{$hover-text-color-63};
        #{get-root-var-id('active-text', $prefix, 63)}:    #{$active-text-color-63};
    }
}


