/*****************************************************
APPLICATION-COLOR

Defines default application-color and adjust different jquery-bootstrap and fcoo-application element-styles

See _application-color-mixin.scss for description of application colors
*****************************************************/
//Default = DALO color in "Forsvarsministeriets koncernfælles Designmanual 2018"
@include _application-color(#3f5b58, "default-");

//Define tree set of bg- and text-colors
@function get-var( $type:'bg', $percent:'0' ){
    @return var(--_fcoo-app-#{$type}-color-#{$percent}, var(--_fcoo-default-app-#{$type}-color-#{$percent}) );
}
@function get-default-var( $type:'bg', $percent:'0' ){
    @return var( --_fcoo-default-app-#{$type}-color-#{$percent} );
}

:root {
    --fcoo-app-bg-color     : #{get-var( $type:'bg'  )};
    --fcoo-app-text-color   : #{get-var( $type:'text')};
    --fcoo-app-shadow-color : #{get-var( $type:'shadow')};

    --fcoo-default-app-bg-color     : #{get-default-var( $type:'bg'  )};
    --fcoo-default-app-text-color   : #{get-default-var( $type:'text')};
    --fcoo-default-app-shadow-color : #{get-default-var( $type:'shadow')};


    --fcoo-app-bg-color-25  : #{get-var( $type:'bg',   $percent:'25' )};
    --fcoo-app-text-color-25: #{get-var( $type:'text', $percent:'25' )};

    --fcoo-app-bg-color-50  : #{get-var( $type:'bg',   $percent:'50' )};
    --fcoo-app-text-color-50: #{get-var( $type:'text', $percent:'50' )};


    --fcoo-app-bg-color-63  : #{get-var( $type:'bg',   $percent:'63' )};
    --fcoo-app-text-color-63: #{get-var( $type:'text', $percent:'63' )};

}


.fcoo-default-app-colors {
    color           : var(--fcoo-default-app-text-color) !important;
    background-color: var(--fcoo-default-app-bg-color) !important;
}



$fcoo-app-text-color    : var(--fcoo-app-text-color);
$fcoo-app-bg-color      : var(--fcoo-app-bg-color);
$fcoo-icon-shadow       : var(--fcoo-app-shadow-color);
.fcoo-app-text-color    { color           : #{$fcoo-app-text-color} !important; }
.fcoo-app-bg-color      { background-color: #{$fcoo-app-bg-color}   !important; }

$fcoo-app-text-color-25 : var(--fcoo-app-text-color-25);
$fcoo-app-bg-color-25   : var(--fcoo-app-bg-color-25);
$fcoo-icon-shadow-25    : var(--fcoo-app-shadow-color-25);
.fcoo-app-text-color-25 { color           : #{$fcoo-app-text-color-25} !important; }
.fcoo-app-bg-color-25   { background-color: #{$fcoo-app-bg-color-25}   !important; }

$fcoo-app-text-color-50 : var(--fcoo-app-text-color-50);
$fcoo-app-bg-color-50   : var(--fcoo-app-bg-color-50);
$fcoo-icon-shadow-50    : var(--fcoo-app-shadow-color-50);
.fcoo-app-text-color-50 { color           : #{$fcoo-app-text-color-50} !important; }
.fcoo-app-bg-color-50   { background-color: #{$fcoo-app-bg-color-50}   !important; }

@mixin text-shadow( $color: $fcoo-icon-shadow, $size: 1px){
    text-shadow: -#{$size} 0 #{$color}, 0 #{$size} #{$color}, #{$size} 0 #{$color}, 0 -#{$size} #{$color}; //Black or white border around text to have contract
}



/*****************************************************
Adjust different parts in jquery-bootstrap and fcoo-application
*****************************************************/

//Bootstrap: Modal-header
:root {
    --jb-header-color       : var(--fcoo-app-text-color-25);
    --jb-header-bg          : var(--fcoo-app-bg-color-25);

    --jb-inner-header-color : var(--fcoo-app-text-color-50);
    --jb-inner-header-bg    : var(--fcoo-app-bg-color-50);
}


//Bootstrap: Aaccordion header when open = 50%-color
.accordion {
    --bs-accordion-btn-color: var(--fcoo-app-text-color-63);
    --bs-accordion-btn-bg   : var(--fcoo-app-bg-color-63);


    --bs-accordion-active-color: var(--fcoo-app-text-color-50);
    --bs-accordion-active-bg   : var(--fcoo-app-bg-color-50);
}

//mmenu: Open item = 50%-color
.mm-menu {
    --mm-item-closed-color: var(--fcoo-app-text-color-63);
    --mm-item-closed-bg   : var(--fcoo-app-bg-color-63);

    --mm-item-opened-color: var(--fcoo-app-text-color-50);
    --mm-item-opened-bg   : var(--fcoo-app-bg-color-50);
}

