/*****************************************************
FCOO-LOGO

Style for FCOO logo as font

icon-fcoo-logo-default   = Default FCOO logo (white)
icon-fcoo-logo-contrast  = Logo in contrast color to application color ($fcoo-app-bg-color) = white or black
icon-fcoo-logo-app-color = Logo in the application color

See src/_application-color.scss for description of application colors
*****************************************************/

@font-face {
    font-family: 'fcoo-logo';
//Only using woff    src:  url('fonts/fcoo-logo.eot?ma2cie');
//Only using woff    src:  url('fonts/fcoo-logo.eot?ma2cie#iefix') format('embedded-opentype'),  url('fonts/fcoo-logo.ttf?ma2cie') format('truetype'), url('fonts/fcoo-logo.woff?ma2cie') format('woff'),    url('fonts/fcoo-logo.svg?ma2cie#icomoon') format('svg');
    src:  url('fonts/fcoo-logo.woff?ma2cie') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon-fcoo-logo-default, .icon-fcoo-logo-contrast, .icon-fcoo-logo-app-color {
   /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fcoo-logo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--fcoo-logo-color);

     &:before { content: "\e900"; }
}

.icon-fcoo-logo-default {
    --fcoo-logo-color: white;
}

.icon-fcoo-logo-contrast {
    --fcoo-logo-color: $fcoo-app-text-color;
}

.icon-fcoo-logo-app-color {
    --fcoo-logo-color: $fcoo-app-bg-color;
}



/**********************************************************
fcoo-name = the font used for the FCOO name in the logo - TODO
**********************************************************/
@font-face {
    font-family: 'fcoo-name';
    src:  url('fonts/svenings.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
}

.fcoo-name {
    font-family: fcoo-name;
}



