/*****************************************************
LOADING
Style for the <div> covering the page during loading
*****************************************************/

//Create Modernizr-classe for loading
@include show-and-hide-for-modernizr-test( loading, html, false, '', false );

/* Not used
@keyframes flashingLogo {
    0%   {opacity: 1;  }
    50%  {opacity:  .5;}
    100% {opacity: 1;  }
}
*/

/* Blinking dots from https://martinwolf.org/before-2018/blog/2015/01/pure-css-savingloading-dots-animation/ */
@keyframes blink {
      0% { opacity:  .2; }
     20% { opacity: 1;   }
    100% { opacity:  .2; }
}

div.loading {
    $duration: 0.4s; //Duration of the fade-in and fade-out

    position: absolute;
    left   : 0;
    top    : 0;
    z-index: $z-index-top-2; //Below error-noty and no-conneted background

    //Sizing and placing the logo
    text-align: center;

    //When loading
    display       : flex;
    flex-direction: column;
    justify-content: center;
    align-items    : center;

    width  : 100%;
    height : 100%;
    opacity: 1;

    cursor : progress;

    //Logo, Version and Working
    & > div {
        position: absolute;
        width   : 100%;
        margin  : 0;
        padding : 0;

        cursor    : inherit;
        text-align: center;

        &.version {
            &:empty {
                visibility: hidden;
            }
            font-family     : sans-serif;
            font-size       : 2rem;
            top             : 0;
            height          :  3rem;
            margin-bottom   : -3rem; //= -height
            background-color: red;
            color           : white;
        }

        &.logo {
            height  : 100%;
            width   : 90vmin;
            background-image    : url(/assets/logos/FCOO_white.svg);
            background-repeat   : no-repeat;
            background-size     : contain;
            background-position : center;
        }

        &.dots {
            height          : 1em;
            bottom          : 0;

            display         : flex;
            align-items     : end;
            justify-content : center;

            font-size       : 6rem;

            span {
                animation-name: blink;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
                width: .25em;

                &:nth-child(2) {
                    animation-delay: .2s;
                }

                &:nth-child(3) {
                    animation-delay: .4s;
                }
            }
        }
    }

    //When body finish loading
    html.no-loading & {
        width  : 0;
        height : 0;
        opacity: 0;

        transition: opacity $duration ease-out 0s, width 0s ease-in-out $duration, height 0s ease-in-out $duration;

        //Hide logo, version and working when not loading
        &:before, & > div {
            display: none !important;
        }
    }
}
