/*****************************************************
LOADING
Style for the <div> covering the page during loading
*****************************************************/

//Create Modernizr-classe for loading
@include show-and-hide-for-modernizr-test( loading, html, false, '', false );


@keyframes flashingLogo {
    0%   {opacity: 1;  }
    50%  {opacity:  .5;}
    100% {opacity: 1;  }
}


div.loading {
    $duration: 0.4s; //Duration of the fade-in and fade-out

    position: absolute;
    left   : 0;
    top    : 0;
    z-index: $z-index-top-2; //Below error-noty and no-conneted background

    background-color: $default-background-color;
    background-color: #{$app-background-color};

    //Sizing and placing the logo
    text-align: center;

    //When loading
    html.loading & {
        display       : flex;
        flex-direction: column;
        justify-content: center;
        align-items    : center;

        width  : 100%;
        height : 100%;
        opacity: 1;

        cursor : progress;

        //Logo, Version and Working
        & > div {
            display: block !important;
            flex   : 0 0 auto;
            width  : 100%;
            margin : 0;
            padding: 0;

            cursor    : inherit;
            text-align: center;

            &.version {
                font-family: sans-serif;
                height   : 3rem;
                font-size: 2rem;
                &.with-content {
                    background-color: red;
                    color           : white;
                }
            }

            &.logo {
                flex     : 1 1 auto;
                width    : 95%;
                max-width: 600px;

                background-image   : url("images/FCOO_logo_notext.svg");
                background-repeat  : no-repeat;
                background-size    : contain;
                background-position: center center;

                animation-name           : flashingLogo;
                animation-duration       : 2s;
                animation-fill-mode      : both;
                animation-iteration-count: infinite;
            }

//REMOVED            &.working {
//REMOVED                height     : 3rem;
//REMOVED                font-size  : 1rem;
//REMOVED            }
        }
    }

    //When body finish loading
    html.no-loading & {
        width  : 0;
        height : 0;
        opacity: 0;

        transition: opacity $duration ease-out 0s, width 0s ease-in-out $duration, height 0s ease-in-out $duration;

        //Hide logo, version and working when not loading
        &:before, & > div {
            display: none !important;
        }
    }
}
