/*****************************************************
TOP-MENU

Style for top menu and items (logo, buttons etc)
*****************************************************/

/***************************************************
top-menu is like Bootstrap navbar but to avoid
confussions another name is used
***************************************************/

.top-menu-container {
    //All elements inside .top-menu-container get same position and opacity
    > * {
        position  : fixed;
        top       : 0;
        right     : 0;
        left      : 0;
        z-index   : $zindex-fixed;
        opacity   : 1;
        transition: opacity .15s ease-in-out;
        cursor: default;
    }

    .top-menu {
        margin-top: 0px;
        padding   : var(--fcoo-app-menu-padding);

        font-size: $jb-font-size-sm;
        .top-menu-header {
            @include text-shadow();
        }

        .touchevents & {
            font-size: $jb-font-size;
        }

        .top-menu-element-hide { display: none; }

        > .top-menu-item {
            flex-shrink: 0;
            flex-grow  : 0;
        }

        > .top-menu-item:not(:first-child) {
            margin-left: var(--fcoo-app-menu-padding) !important;
        }

        .left-side {
            margin-right: auto !important;
        }
        .right-side {
            margin-left: auto !important;
        }

        //FCOO-logo inside top menu get fixed size and hover effect
        .icon-fcoo-logo-contrast {
            padding             : 0;
            margin              : 0;
            line-height         : .5;
            cursor              : pointer;
            font-size           : 4em;
            text-decoration-line: none; //Overwrite default underline in Bootstrap 5
            @include text-shadow();
            --bs-btn-border-width: 0px;


        }

        //The header is the only element that shrink and grow on resize
        .top-menu-header {
            flex-shrink: 1;
            flex-grow  : 1;
            text-align : center;
            font-family: var(--fmn-font-family);
            font-size  : 1.5em;
            line-height: 1.5;
            @include text-truncate();

            &.top-menu-element-hide {
                display   : block;
                visibility: hidden;
            }
        }

        //form and input for search. Input have no round border to the right. The search-button have no round border to the left when the input is vissible
        .form-inline {
            .form-control {
                padding: $input-padding-y-sm $input-padding-x-sm; //Same padding for 'normal' and 'small'

                border-bottom-right-radius: 0;
                border-top-right-radius   : 0;
                border-right              : none;
                width: 6rem;
                .small-up & {
                    width: 10rem;
                }

                &.top-menu-element-show + .btn {
                    border-left: none;
                    border-bottom-left-radius: 0;
                    border-top-left-radius   : 0;
                }
            }
        }
    } //end of .top-menu
}//end of .top-menu-content

//Create display-style for modernizr test all-read used in buttons for message-groups
a.all-read    .hide-for-all-read,
a.no-all-read .show-for-all-read {
    opacity: 0 !important;
}