    /*****************************************************
TOP-MENU

Style for top menu and items (logo, buttons etc)
*****************************************************/

@mixin text-shadow( $color: black){
    text-shadow: -1px 0 $color, 0 1px $color, 1px 0 $color, 0 -1px $color; //Black or white border around text to have contract
}

/***************************************************
top-menu is like Bootstrap navbar but to avoid
confussions another name is used
***************************************************/

.top-menu-container {

    //All elements inside .top-menu-container get same position and opacity
    > * {
        position  : fixed;
        top       : 0;
        right     : 0;
        left      : 0;
        z-index   : $zindex-fixed;
        opacity   : 1;
        transition: opacity .15s ease-in-out;
        cursor: default;
    }

    .top-menu {
        margin-top: 0px;
        padding   : $content-padding-x-sm; //Same as .vertical-pre-menu in _touch-menu.scss

        font-size: $font-size-sm;
        @include text-shadow();

        .touchevents & {
            font-size: $font-size-base;
        }

        @extend .fcoo-app-background;
        @extend .fcoo-app-color;

        .top-menu-element-hide { display: none; }

        > .top-menu-item {
            flex-shrink: 0;
            flex-grow  : 0;
        }

        > .top-menu-item:not(:first-child) {
            margin-left: $content-padding-x-sm !important;
            .touchevents & {
                margin-left: $content-padding-x !important;
            }
        }

        .left-side {
            margin-right: auto !important;
        }
        .right-side {
            margin-left: auto !important;
        }

        //FCOO-logo inside top menu get fixed size and hover effect
        .icon-fcoo-app-logo {
            padding    : 0;
            margin     : 0;
            line-height: .5;

            opacity    : 0.8;
            .touchevents & {
                opacity: 1;
            }
            @include hover-focus {
                opacity: 1;
            }
            font-size: 4em;
        }

        //The header is the only element that shrink and grow on resize
        .top-menu-header {
            flex-shrink: 1;
            flex-grow  : 1;
            text-align : center;
            font-size  : 1.5em;
            line-height: 1.5;
            @include text-truncate();

            &.top-menu-element-hide {
                display   : block;
                visibility: hidden;
            }
        }

        //form and input for search. Input have no round border to the right. The search-button have no round border to the left when the input is vissible
        .form-inline {
            .form-control {
                padding: $input-padding-y-sm $input-padding-x-sm; //Same padding for 'normal' and 'small'

                border-bottom-right-radius: 0;
                border-top-right-radius   : 0;
                border-right              : none;
                width: 6rem;
                .small-up & {
                    width: 10rem;
                }

                &.top-menu-element-show + .btn {
                    border-left: none;
                    border-bottom-left-radius: 0;
                    border-top-left-radius   : 0;
                }
            }
        }
    } //end of .top-menu
}//end of .top-menu-content

//Create display-style for modernizr test all-read used in buttons for message-groups
a.all-read    .hide-for-all-read,
a.no-all-read .show-for-all-read {
    opacity: 0 !important;
}