/*****************************************************
TOP-MENU

Style for top menu and items (logo, buttons etc)
*****************************************************/

@mixin text-shadow( $color: black){
    text-shadow: -1px 0 $color, 0 1px $color, 1px 0 $color, 0 -1px $color; //Black or white border around text to have contract
}

/***************************************************
top-menu is like Bootstrap navbar but to avoid
confussions another name is used
***************************************************/
body {
    //When top-menu is hidden body expand to top
    &.top-menu-hidden {
        padding-top: 0 !important;
    }
}

//Hide top-menu while initializing
.top-menu-container.initialize {
    visibility: hidden;
}

//All elements inside .top-menu-container get same position and opacity
.top-menu-container > * {
    position  : fixed;
    top       : 0;
    right     : 0;
    left      : 0;
    z-index   : $zindex-fixed;
    opacity   : 1;
    transition: opacity .15s ease-in-out;
    cursor: default;
}

//Box with FCOO-logo and contact info etc.
.about-fcoo {
    background-color: white;
    border-bottom   : 1px solid black;
    text-align      : center;
    font-size       : 0.9 * $font-size-base;
    //    opacity         : 0.6;
    //opacity         : 0;
    * {
        opacity   : 1;
        transition: opacity .2s;

    }
    &.panning * { opacity: 0.6; }

    .top-menu-extended &,
    .top-menu-threshold-down ~ & {
        * { opacity: 1; }
    }
    .top-menu-threshold-up ~ & {
        * { opacity: 0.6; }
    }

    > * {
        margin: .5rem;
        flex-shrink: 1;
        flex-grow  : 0;
    }

    .fcoo-logo {
        width      : 310px;
        height     : 60 / 260 * 310px;
        flex-shrink: 0;
        background-image   : url("images/FCOO_logo_260x60.jpg");
        background-repeat  : no-repeat;
        background-position: center center;
        background-size    : contain;
    }

    .header {
        width    : 100%;
        flex-grow: 1;

        margin : 0;
        padding: $content-padding-x-sm;

        text-align : center;
        font-size  : 1.5*$font-size-sm;
        line-height: 1.5*$font-size-sm;
        @include text-shadow();
        @include text-truncate();

        &:empty { display: none; }
    }

}


.top-menu {

    margin-top: 0px;
    padding   : $content-padding-x-sm;

    font-size: $font-size-sm;
    @include text-shadow();

    .touchevents & {
        font-size: $font-size-base;
    }

    @extend .fcoo-app-background;
    @extend .fcoo-app-color;


    > * {
        flex-shrink: 0;
        flex-grow  : 0;
    }

    > *:not(:first-child):not(.right-side) {
        margin-left: $content-padding-x-sm !important;
        .touchevents & {
            margin-left: $content-padding-x !important;
        }
    }

    .left-side {
        margin-right: auto !important;
    }
    .right-side {
        margin-left: auto !important;
    }


    //Prevent double icon buttons to get double width
    .btn.fa-stack {
        width: 1em;
    }

//fa-bars
//fa-search
//fa-i-warning, fa-i-warning-black
//fa-envelope-o,fa-envelope
//fa-question-circle-o
//fa-i-list

    //Adjusting font-size and/or margin-bottom of specific icon to make all look equal sized and horizontal aligned
/*
    .btn i.fa {
//        &.fa-bars {  }
        &.fa-search {               font-size: 0.80em; }

        &.fa-i-warning,
        &.fa-i-warning-black {      font-size: 0.75em; bottom: 0.2em; }

        &.fa-envelope-o,
        &.fa-envelope {             font-size: .90em;  margin-bottom: 0; }

        &.fa-question-circle-o {    font-size: .90em;  margin-bottom: -0.1em; }

        &.fa-i-list {               font-size: 0.75em; margin-bottom: -0.1em; }

    }

    //Special adjusment for small buttons
    .btn-sm i.fa {
        &.fa-envelope-o,
        &.fa-envelope {             margin-bottom: 0; }

        &.fa-question-circle-o {    margin-bottom: 0; }

        &.fa-i-list {               margin-bottom: -0.1em; }
    }
*/
    //FCOO-logo inside top menu get fixed size and hover effect
    .icon-fcoo-app-logo {
        padding    : 0;
        margin     : 0;
        line-height: .5;

        opacity    : 0.8;
        .touchevents & {
            opacity: 1;
        }
        @include hover-focus {
            opacity: 1;
        }
        font-size: 4em;
    }

    //The header is the only element that shrink and grow on resize
    .header {
        flex-shrink: 1;
        flex-grow  : 1;
        text-align : center;
        font-size  : 1.5em;
        line-height: 1.5;
        @include text-truncate();

        margin-right: $content-padding-x-sm;
        .touchevents & {
            margin-right: $content-padding-x;
        }
    }

    //form and input for search. Input have no round border to the right. The search-button have no round border to the left when the input is vissible
    .form-inline {
        .form-control {

            padding: $input-padding-y-sm $input-padding-x-sm; //Same padding for 'normal' and 'small'

            border-bottom-right-radius: 0;
            border-top-right-radius   : 0;
            border-right              : none;
            width: 6rem;

            .small-up & {
                width: 10rem;
            }
            .xsmall-land-down & {
                display: none;
            }

            .no-xsmall-land-down & + .btn {
                border-left: none;
                border-bottom-left-radius: 0;
                border-top-left-radius   : 0;
            }
        }
    }
} //end of .top-menu

//.top-bar = the bar to drag down the top-menu when it is hidden
.top-bar {
    $width: 3rem;
    position   : absolute;
    top        : 0;
    left       : 50%;
    width      : $width;
    margin-left: -0.5*$width;
    display    : none;
    opacity    : 0;
    font-size  : 2rem;
    text-align : center;
    line-height: 0.7;
    color      : $gray-800;
    @include text-shadow( rgba(255, 255,255,.5) );

    background-color: transparent;
    .top-menu-hidden & {
        display: block;
        opacity: 1;
    }
}


//Create display-style for modernizr test all-read used in buttons for message-groups
@include show-and-hide-for-modernizr-test(
    all-read,   //$modernizr-test ,
	a,          //$parent-element-type: '',
	true,       //$incl-no-selector: true,
	'',         //$display-value: ''
	false       // $incl-table-display: true
);

