/*****************************************************
TOUCH-MENU

Style for touch-menus at the left, right, top and bottom edge
*****************************************************/

//Bug fix. Chrome bug => problem with pan AND scroll. See https://github.com/hammerjs/hammer.js/issues/1050
//.touch-menu-container, .touch-menu-container * { touch-action: none; }

.touch-menu {
//VIRKER IKKE    touch-action: pan-down; //pan-up pan-down do not seem to be supported
}



$border: $modal-content-border-width solid var(--fcoo-app-bg-color);

/*
Two modes:
    side: Touch menu side-by-side with content
    over: Touch menu over content
*/

    $zindex-touch-menu-mode-side: $zindex-modal-backdrop - 2;
    $zindex-touch-menu-mode-over: $zindex-modal-backdrop + 4;
    $zindex-mask-mode-over      : $zindex-touch-menu-mode-over - 1;

    $transition-property-menu   : all;
    $transition-property-main   : all;
    $transition-duration        : .3s;
    $transition-timing-function : ease-out;

.touch-menu-container {
    position        : absolute;
    background-color: $modal-content-bg;

    //Border and shadow
    &.left   { border-right : $border; }
    &.right  { border-left  : $border; }
    &.top    { border-bottom: $border; }
    &.bottom { border-top   : $border; }

    &.mode-over {
        z-index: $zindex-touch-menu-mode-over;
        //When closed: zindex == side-mode to have mask under other
        &.closed {
           z-index: $zindex-touch-menu-mode-side;
        }
        &:not(.closed) {
            @include box-shadow($modal-content-box-shadow-sm-up);
        }
    }

    &.mode-side {
        z-index: $zindex-touch-menu-mode-side;
    }

    &.opened {
        transition-property       : $transition-property-menu;
        transition-duration       : $transition-duration;
        transition-timing-function: $transition-timing-function;

        //No animation while the page is loading
        html.loading &,
        &.no-animation {
            transition: none !important;;
        }
    }

    &.closed {
        transition-property       : $transition-property-menu;
        transition-duration       : $transition-duration;
        transition-timing-function: $transition-timing-function;

        //No animation while the page is loading
        html.loading &,
        &.no-animation {
            transition: none !important;;
        }
        transform : none !important;
    }

    .touch-menu {
        position: relative;
    }
    .touch-pre-menu {}
    .touch-post-menu {}

    //Set dimention = 'auto' if the content have width/height = 'auto'
    &.vertical-auto-width {
        width: auto !important;
    }
    &.horizontal-auto-height {
        height: auto !important;
    }
}

.touch-menu-handle {
    position: absolute;

    &.left   { left  : 0; }
    &.right  { right : 0; }
    &.top    { top   : 0; }
    &.bottom { bottom: 0; }

    &.hide-when-open {
        &.opened, &.closing {
            display: none;
        }
    }
}

.touch-menu-mask {
    position: absolute;
    opacity : 0.0;
    z-index : -1;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;

    background-color: $modal-backdrop-bg;

    &.opened, &.closed {
        transition: opacity $transition-duration $transition-timing-function;
    }

    &.visible {
        z-index: $zindex-mask-mode-over;
    }
}

//.horizontal-bar = the bar to drag down the top-or bottom-menu when it is hidden
.horizontal-bar {
    font-size  : 2rem;
    text-align : center;
    line-height: 0.7;
    color      : $gray-800;
    @include text-shadow( rgba(255, 255,255,.5) );

    background-color: transparent;
}

//Left and right menu preMenu
.vertical-pre-menu {
    border-bottom   : $border;
    background-color: var(--bs-gray-200);
    padding         : var(--fcoo-app-menu-padding);
}



//The container
.neighbour-container {
    transition-property       : $transition-property-main   !important;
    transition-duration       : $transition-duration        !important;
    transition-timing-function: $transition-timing-function !important;

    //No animation while the page is loading
    html.loading &,
    &.no-animation {
        transition-duration: 0s !important;
    }
}



//monernizr-classes for menu open/close
$menu-positions: top, bottom, left, right;
@each $menu-position in $menu-positions {
    @include show-and-hide-for-modernizr-test(
        $modernizr-test      : #{$menu-position}-menu-open,
        $parent-element-type : 'html',
        $incl-no-selector    : false, //true,
        $display-value       : '',
        $incl-table-display  : false, //true,
        $only-direct-children: false,
        $postfix             : '',
        $no-display-value    : 'none',
        $display-attr        : 'display',
        $class-postfix       : ''
    );

}
